" SETUP
" ------------------------------------------------------------------------------------------------
let mapleader = " "

set relativenumber
set number

set scrolloff=5



"SEARCH / NAVIGATION
" ------------------------------------------------------------------------------------------------
set hlsearch
set ignorecase
set smartcase
set incsearch
set wrapscan

nmap <leader>sf <action>(GotoFile)
nmap <leader>sg <action>(FindInPath)
nmap <leader>pv <action>(ActivateProjectToolWindow)

" WINDOW
" ------------------------------------------------------------------------------------------------
map <leader>w- <action>(SplitHorizontally)
map <leader>w\ <action>(SplitVertically)
map <leader>wq <action>(CloseAllEditors)
" map <leader>wq <action>(Unsplit)
map <leader><Right> <action>(StretchSplitToRight)
map <leader><Left> <action>(StretchSplitToLeft)
map <leader><Up> <action>(StretchSplitToTop)
map <leader><Down> <action>(StretchSplitToBottom)
nnoremap <leader>h <C-w>h
nnoremap <leader>l <C-w>l
nnoremap <leader>k <C-w>k
nnoremap <leader>j <C-w>j


" MOVING
" ------------------------------------------------------------------------------------------------
noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz



" COPY PASTA
" ------------------------------------------------------------------------------------------------
map <leader>y "+y               
vmap <leader>y "+y
map <leader>Y "+Y    
 
xnoremap <leader>p "\"_dP        
xnoremap <leader>P \"+p



" MISC
" ------------------------------------------------------------------------------------------------
nmap <S-K> <action>(ShowHoverInfo)
nmap <leader>u <action>(LocalHistory.ShowHistory)
xmap <S-K> <action>(MoveStatementUp)
xmap <S-J> <action>(MoveStatementDown)
nmap <leader><CR> <action>(ShowIntentionActions) 
nmap <leader>q <action>(HideAllWindows)
imap <C-,> <action>(ParameterInfo)
nmap <leader>b <action>(ToggleLineBreakpoint)
map <leader>rn <action>(RenameElement)


" PLUGINS
nmap <leader>a <action>(org.intellij.sdk.action.attachFile)
" -----------------------------------------------------------------------------


" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
let g:NERDTreeMapNewFile='%'
let g:NERDTreeMapNewDir='d'
let g:NERDTreeMapDelete='D'

